<!doctype html>
<Header>
<style>
        h1{
	color: yellow;
	padding:10px;
	font-size: 400%
	}

	.Paragraph1 {
	color: black;
	padding: 10px;
	font-size: 100%;
	}

	.button{
	background-color: #1c87c9;
	border:none;
	color: white;
	height: 34px;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 10px;
	margin-right: 50px;
	}
</style>
</header>

<h1>OnlineTutoringSystem</h1>


<body>
    <div class="Paragraph1">Hello welcome to this page about an online tutoring system. We are pleased that you have choosen to look around and hopefully choose us to tutor either yourself or someone close to you. Explore around before committing to creating an account. Read about our tutors??? Check our the subjects in which we off??? If you already know that you are wanting an account click on the acoount button to take you to the page to get take you to the navigation page between creating a new account and also logging into an existing account. We hope you choose to sign up and learn from the tutors available and have a wonderful day
    </div>

    <table class="nav" align ="center">
    <tr>
      <td>
	      <button class="button" onclick=<a href='www.webtech-04.napier.ac.uk:5000/AboutTheTutors/' ></a>
	  About the Tutors
	  </button>
		      <button class="button" onclick= <a href='www.webtech-04.napier.ac.uk.5000/Account/'</a>
	  Account
	  </button>
	  <button class="button" onclick=<a href='www.webtech-04.napier.ac.uk/AboutTheSubjects/'</a>
	  About the subjects
	  </button>
      </td>
   </tr>
   </table>
</body>

</html>

